[include]

	path = ~/dotfiles/git/aliases
	path = ~/dotfiles/git/gitconfig_private


[core]

	# Use custom `.gitignore_global`
	excludesfile = ~/.gitignore_global

	# Speed up commands involving untracked files such as `git status`.
	# https://git-scm.com/docs/git-update-index#_untracked_cache
	untrackedCache = true

	autocrlf = input
	editor = code -w
	quotepath = false

# COLORS
# ------
# Dracula Dark Theme
[color]

	ui = auto

[color "branch"]

	current = cyan bold reverse
	local = white
	plain =
	remote = cyan

[color "diff"]

	commit =
	func = cyan
	plain =
	whitespace = magenta reverse
	meta = white
	frag = cyan bold reverse
	old = red
	new = green

[color "grep"]

	context =
	filename =
	function =
	linenumber = white
	match =
	selected =
	separator =

[color "interactive"]

	error =
	header =
	help =
	prompt =

[color "status"]

	added = green
	changed = yellow
	header =
	localBranch =
	nobranch =
	remoteBranch = cyan bold
	unmerged = magenta bold reverse
	untracked = red
	updated = green bold

[filter "lfs"]

	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[gpg]

	program = gpg

[commit]

	# https://help.github.com/articles/signing-commits-using-gpg/
	gpgsign = true

[credential]

	helper = osxkeychain

[diff]

	# Detect copies as well as renames.
	renames = copies

[diff "bin"]

	# Use `hexdump` to diff binary files.
	textconv = hexdump -v -C

[help]

	# Automatically correct and execute mistyped commands.
	autocorrect = 1

[merge]

	# Include summaries of merged commits in newly created merge commit messages
	log = true

[push]

	autoSetupRemote = true
	default = simple

[user]

	email = 860951+jonmak08@users.noreply.github.com
	name = Jonathan Mak
	# https://docs.github.com/en/authentication/managing-commit-signature-verification/telling-git-about-your-signing-key


[maintenance]

	repo = /Users/jon.mak/workspace/zenpayroll
